* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: #002856;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* INDEX */

.GridConteinerMain {
  display: grid;
  background-image: url("../Image/Fondo.svg");
  min-height: 100vh;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.1fr 0.4fr 0.4fr 0.1fr 0.3fr;
  grid-template-areas:
    "nav nav nav"
    "text text media"
    "text2 text2 media"
    "boton boton boton"
    "footer footer footer";
}

.navbar {
  grid-area: nav;
  display: flex;
  align-items: center;
  padding: 10px;
}

.ulLink {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.nav-link {
  display: inline-block;
  margin-right: 30px;
  margin: 0 10px;
}

.NavOrder {
  text-align: center;
  margin-left: 5%;
}

.link {
  text-decoration: none;
  font-size: 120%;
  font-weight: 700;
  color: #002856;
}

.ImgLogoConteiner {
  width: 30%;
}

.imgLogo {
  /* margin-right: 10px; */
  width: 45%;
}

.Div2 {
  grid-area: text2;
}

.ImagenMain {
  grid-area: media;
}

#Imagen1 {
  width: 90%;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

.titulo-main {
  grid-area: text;
  align-self: flex-end;
}

.EstiloTitulo {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 0%;
}

.Titulo {
  text-transform: capitalize;
  font-size: 40px;
  font-weight: 700;
  width: 50%;
  margin-left: 5%;
  margin-top: 5%;
}

.Descripcion {
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1%;
}

.Boton {
  grid-area: boton;
  text-align: center;
  align-self: center;
}

.boton {
  font-family: "Poppins", sans-serif;
  background-color: #002856;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  padding: 5px;
}

.footer {
  grid-area: footer;
  display: flex;
  align-items: flex-end;
}

.redes {
  font-size: 1rem;
  color: white;
  margin-left: 2%;
}

.whatsapp {
  color: white;
  text-decoration: none;
}

.linkedin {
  color: white;
  text-decoration: none;
}

.contacto {
  color: white;
  text-decoration: none;
}

.copy {
  color: #002856;
  margin-left: 30%;
}

@media (min-width: 400px) and (max-width: 700px) {
  .GridConteinerMain {
    display: grid;
    background-image: url("../Image/Fondo.svg");
    min-height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.1fr 0.2fr 0.2fr 0.2fr 0.4fr 0.3fr;
    grid-template-areas:
      "nav nav nav"
      "media media media"
      "text text text"
      "text2 text2 text2"
      "boton boton boton"
      "footer footer footer";
  }
  .navbar {
    grid-area: nav;
    display: flex;
    align-items: center;
    margin-top: 2%;
  }
  .NavOrder {
    text-align: center;
    margin-left: 3%;
  }
  .link {
    text-decoration: none;
    font-size: 70%;
    font-weight: 700;
    color: #002856;
  }

  .imgLogo {
    width: 110%;
  }
  .ImgLogoConteiner {
    width: 30%;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 0%;
  }
  .EstiloTitulo {
    font-size: 100%;
    margin-top: 0%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0%;
  }
  .Descripcion {
    text-transform: capitalize;
    font-size: 70%;
    font-weight: 500;
    margin-top: 0%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .ImagenMain {
    justify-content: center;
    align-items: center;
  }

  #Imagen1 {
    width: 60%;
    height: 80%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 0%;
    margin-top: 5%;
  }
  .Boton {
    grid-area: boton;
    text-align: center;
    align-self: flex-start;
  }
  .redes {
    font-size: 80%;
    color: white;
    margin-left: 2%;
  }
  .whatsapp {
    color: white;
    text-decoration: none;
  }

  .linkedin {
    color: white;
    text-decoration: none;
  }

  .contacto {
    color: white;
    text-decoration: none;
  }

  .copy {
    color: white;
    margin-left: 5%;
    font-size: 60%;
  }
}

/* FIN INDEX */

/* SERVICIOS */

.GridConteinerServicios {
  display: grid;
  background-image: url("../Image/Fondo.svg");
  min-height: 100vh;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.1fr 0.3fr 0.3fr 0.3fr 0.3fr 0.1fr;
  grid-template-areas:
    "nav nav nav"
    "text text media"
    "text2 text2 media"
    "media2 text3 text3"
    "media2 text4 text4"
    "footer footer footer";
}

.TituloServicios {
  grid-area: text;
  align-self: center;
}

.EstiloTituloServicios {
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
}

.DescripcionServicios {
  grid-area: text2;
}

.EstiloDescripcionServicios {
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 0%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1%;
}

.ImagenServicios {
  grid-area: media2;
}

.TituloServicios2 {
  grid-area: text3;
}

.EstiloTituloServicios2 {
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
}

.DescripcionServicios2 {
  grid-area: text4;
}

.EstiloDescripcionServicios2 {
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 0%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1%;
}

/*FIN DE SERVICIOS  */

#imgMision {
  float: right;
  width: 30%;
  height: 30%;
  margin-top: 5%;
  margin-right: 5%;
}

#vision {
  float: left;
  width: 30%;
  height: 30%;
  margin-top: 5%;
  margin-left: 5%;
}

.DescripcionVision {
  text-transform: capitalize;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  margin-top: 1%;
  margin-left: 35%;
  margin-right: 5%;
  margin-bottom: 1%;
}

.divisorVision {
  height: 2px;
  width: 50%;
  background-color: #002856;
  margin-left: 35%;
  margin-right: 5%;
}

.Titulo3 {
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 700;
  width: 50%;
  margin-left: 35%;
  margin-top: 5%;
  margin-right: 5%;
}

.Descripcion3 {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 500;
  margin-top: 1%;
  margin-left: 35%;
  margin-right: 5%;
  margin-bottom: 1%;
}

.Noticias {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 120px;
}

.ImgNoticias {
  height: 90%;
  margin-right: 5%;
}

.Descripcion4 {
  display: inline-block;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 1%;
  margin-bottom: 1%;
}

.divisor3 {
  height: 2px;
  width: 130%;
  background-color: #002856;
  margin-top: 1%;
}

.Titulo4 {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
}

.fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.tituloForm {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
}

#forms {
  width: 50%;
  height: 50%;
  padding: 20px;
}

#forms label {
  margin-bottom: 10px;
}

#forms input[type="text"],
input[type="email"] {
  width: 80%;
  padding: 5px;
  margin-bottom: 10px;
}

#forms textarea {
  padding: 20px 20px;
  border-color: #002856;
  cursor: pointer;
}
