* {
  box-sizing: border-box;
}

@import "mediaqueries";
body {
  font-family: $font;
  color: $color;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  @include mobile;
}

@if $vista == mobile {
  @media (min-width: 400px) and (max-width: 600px) {
  }
} @else if $vista == desktop {
  @media (min-width: 1200px) {
    .GridConteinerBlog {
      display: grid;
      background-image: url("../Image/Fondo.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      min-height: 100vh;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 0.1fr 0.3fr 0.3fr 0.2fr 0.1fr;
      grid-template-areas:
        "nav nav nav"
        "card card card"
        "card card card"
        "card card card"
        "footer footer footer";
    }
  }
}

section {
  grid-area: card;
  display: flex;
  justify-content: center;
  gap: 3vh;
  flex-wrap: wrap;
  article {
    display: flex;
    flex: 0 1 50vh;
    flex-direction: column;
    border: 0.5vh solid $color;
    border-radius: 1rem;
    padding: 2rem;
    margin-top: 1vh;
    margin-bottom: 0%;
    font-size: 2vh;
    h2 {
      font-size: 3vh;
      text-align: left;
      margin: 0vh;
    }
    img {
      order: -1;
      align-self: center;
      width: 40vh;
    }
    p {
      margin-top: 1vh;
      margin-bottom: 8vh;
    }
    button {
      background: $color;
      color: white;
      padding: 0.5rem;
      border: none;
      border-radius: 1rem;
      font-size: 100%;
      cursor: pointer;
    }
  }
}
