* {
  box-sizing: border-box;
}

@import "mediaqueries";
body {
  font-family: $font;
  color: $color;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  @include mobile;
}

@if $vista == mobile {
  @media (min-width: 400px) and (max-width: 600px) {
  }
} @else if $vista == desktop {
  @media (min-width: 1200px) {
    .GridConteinerBlog {
      display: grid;
      background-image: url("../Image/Fondo.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      min-height: 100vh;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 0.1fr 0.3fr 0.3fr 0.2fr 0.1fr;
      grid-template-areas:
        "nav nav nav"
        "card card card"
        "card card card"
        "card card card"
        "footer footer footer";
    }
  }
}

header {
  grid-area: nav;
  display: flex;
  align-items: center;
  padding: 10px;
  nav {
    list-style: none;
    text-align: center;
    margin-left: 5%;
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      li {
        display: inline-block;
        margin-right: 30px;
        margin: 0 10px;
        a {
          text-decoration: none;
          font-size: 120%;
          font-weight: 700;
          color: $color;
        }
      }
    }
  }
}

section {
  grid-area: card;
  display: flex;
  justify-content: center;
  gap: 5%;
  flex-wrap: wrap;
  article {
    display: flex;
    flex: 0 1 300px;
    flex-direction: column;
    border: 1px solid $color;
    border-radius: 1rem;
    padding: 2rem;
    margin-top: 2%;
    margin-bottom: 0%;
    font-size: 60%;
    h2 {
      font-size: medium;
      text-align: center;
      margin-top: 2%;
      margin-bottom: 5%;
    }
    img {
      order: -1;
      align-self: center;
      width: 100%;
    }
    p {
      margin-top: 2%;
      margin-bottom: 5%;
    }
    button {
      background: $color;
      color: white;
      padding: 0.5rem;
      border: none;
      border-radius: 1rem;
      font-size: 100%;
      cursor: pointer;
    }
  }
}

footer {
  grid-area: footer;
  display: flex;
  align-items: flex-end;
  div {
    font-size: 80%;
    color: white;
    margin-left: 2%;
    a {
      color: white;
      text-decoration: none;
    }
  }
}
