* {
  box-sizing: border-box;
}
@import "mediaqueries";
body {
  font-family: $font;
  color: $color;
  @include mobile;
}

@if $vista == mobile {
  @media (min-width: 400px) and (max-width: 600px) {
  }
} @else if $vista == desktop {
  @media (min-width: 1200px) {
    .GridConteinerContacto {
      display: grid;
      background-image: url("../Image/Fondo.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      min-height: 100vh;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 0.1fr 0.2fr 0.2fr 0.2fr 0.3fr;
      grid-template-areas:
        "nav nav nav"
        "form form form"
        "form form form"
        "form form form"
        "footer footer footer";
    }
  }
}

form {
  width: 100vh;
  max-width: 1500vh;
  margin: auto;
  margin-top: 5vh;
  padding: 5vh;
  box-shadow: 0 0 10vh 0.5vh rgba(0, 0, 0, 0.3);
  grid-area: form;
  @include mobile {
    width: 50vh;
    height: 50vh;
    margin-top: 5vh;
  }
  h1 {
    text-align: center;
    margin: 0;
    margin-bottom: 0vh;

    @include mobile {
      font-size: 3vh;
    }
  }
  .formulario__input {
    padding: 3vh;
    margin-bottom: 3vh;
    background: rgba(0, 0, 0, 0.1);
    border: 0.5vh solid rgba(0, 0, 0, 0.1);
    display: block;
    width: 90vh;
    color: $color;
    font-size: 2vh;
    @include mobile {
      padding: 1vh;
      margin-bottom: 1vh;
      width: 40vh;
    }
  }

  .formulario__submit {
    padding: 3vh;
    color: white;
    background-color: $color;
    font-size: 2vh;
    cursor: pointer;
    border: none;
    display: block;
    width: 90vh;
    @include mobile {
      margin-top: 5vh;
      margin-bottom: 0%;
      width: 40vh;
    }
  }
}
