* {
  margin: 0;
  padding: 0;
}

@import "mediaqueries";
body {
  font-family: $font;
  color: $color;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  @include mobile;
}

@if $vista == mobile {
  @media (min-width: 400px) and (max-width: 600px) {
  }
} @else if $vista == desktop {
  @media (min-width: 1200px) {
    .GridConteinerMain {
      display: grid;
      background-image: url("../Image/Fondo.svg");
      min-height: 100vh;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 0.1fr 0.4fr 0.4fr 0.1fr 0.2fr;
      grid-template-areas:
        "nav nav nav"
        "text text media"
        "text2 text2 media"
        "boton boton boton"
        "footer footer footer";
    }
  }
}

header {
  grid-area: nav;
  display: flex;
  align-items: center;
  padding: 10px;
  @include mobile {
    margin-top: 2%;
  }
  a {
    width: 30%;
    @include mobile {
      align-items: center;
      justify-content: center;
      margin-top: 2%;
      margin-bottom: 0%;
    }
    img {
      width: 45%;
      // animation: logo 6s linear infinite;
      // @keyframes logo {
      //   0% {
      //     transform: rotateX(0deg) rotateY(0deg);
      //   }
      //   50% {
      //     transform: rotateX(0deg) rotateY(180deg);
      //   }
      //   100% {
      //     transform: rotateX(180deg) rotateY(180deg);
      //   }
      // }
      // @include mobile {
      //   visibility: hidden;
      // }
    }
  }
  nav {
    list-style: none;
    text-align: center;
    margin-left: 5%;
    @include mobile {
      text-align: left;
      margin-right: 8%;
      font-size: 90%;
    }
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      li {
        display: inline-block;
        margin-right: 30px;
        margin: 0 10px;
        a {
          text-decoration: none;
          font-size: 120%;
          font-weight: 700;
          color: $color;
          @include mobile {
            font-weight: 700;
            font-weight: 700;
            color: $color;
          }
        }
      }
    }
  }
}

div {
  grid-area: text;
  align-self: flex-end;
  h2 {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0%;
    @include mobile {
      font-size: 100%;
      margin-top: 0%;
      margin-left: 5%;
      margin-right: 5%;
      margin-bottom: 0%;
    }
  }
}

.Div2 {
  grid-area: text2;
  align-self: flex-start;
  h3 {
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
    @include mobile {
      text-transform: capitalize;
      font-size: 70%;
      font-weight: 500;
      margin-top: 0%;
      margin-left: 5%;
      margin-right: 5%;
      margin-bottom: 1%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.ImagenMain {
  grid-area: media;
  @include mobile {
    justify-content: center;
    align-items: center;
  }
  img {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    @include mobile {
      width: 50%;
      height: 80%;
      margin-left: 25%;
      margin-right: 20%;
      margin-bottom: 0%;
      margin-top: 5%;
    }
  }
}

.Boton {
  grid-area: boton;
  text-align: center;
  align-self: center;

  a {
    font-family: $font;
    background-color: $color;
  }
  button {
    padding: 5px;
    border-radius: 3px;
    background-color: $color;
    color: white;
  }
}

footer {
  grid-area: footer;
  display: flex;
  align-items: flex-end;
  div {
    font-size: 1rem;
    color: white;
    margin-left: 2%;
    @include mobile {
      font-size: 80%;
    }
    a {
      color: white;
      text-decoration: none;
    }
  }
}

.copy {
  color: $color;
  margin-left: 30%;
  @include mobile {
    margin-left: 5%;
    font-size: 60%;
  }
}
