* {
  margin: 0;
  padding: 0;
}

@import "mediaqueries";
body {
  font-family: $font;
  color: $color;
  @include mobile;
  header {
    grid-area: nav;
    display: flex;
    align-items: center;
    padding: 2vh;
    flex-wrap: nowrap;
    @include mobile {
      margin-top: 2%;
      padding: 0%;
    }
    a {
      // width: 30%;
      @include mobile {
        align-items: center;
        justify-content: center;
        margin-top: 2%;
        margin-bottom: 0%;
      }
      img {
        width: 20vh;
        @include mobile {
          width: 15vh;
          margin-left: 2vh;
        }
      }
    }
    nav {
      list-style: none;
      text-align: center;
      margin-left: 5vh;
      @include mobile {
        text-align: left;
        margin-left: 2%;
        font-size: 80%;
      }
      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        flex-wrap: wrap;
        li {
          display: inline-block;
          margin-right: 5vh;
          margin: 0 2vh;

          :focus {
            background-color: #497eff;
          }
          @include mobile {
            margin-right: 0;
            flex-grow: 0;
          }
          a {
            text-decoration: none;
            font-size: 2vh;
            font-weight: 700;
            color: $color;

            @include mobile {
              font-weight: 500;
              color: $color;
            }
          }
        }
      }
    }
  }
}

@if $vista == mobile {
  @media (min-width: 300px) and (max-width: 600px) {
  }
} @else if $vista == desktop {
  @media (min-width: 1000px) {
    .GridConteinerMain {
      display: grid;
      background-image: url("../Image/wave-haikei.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      min-height: 100vh;
      flex-wrap: wrap;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 0.1fr 0.4fr 0.4fr 0.1fr 0.2fr;
      grid-template-areas:
        "nav nav nav"
        "text text media"
        "text2 text2 media"
        "boton boton boton"
        "footer footer footer";
    }
  }
}

div {
  grid-area: text;
  align-self: flex-end;
  h2 {
    margin-top: 1vh;
    margin-left: 8vh;
    margin-right: 1vh;
    margin-bottom: 0%;
    font-size: 200%;
    @include mobile {
      font-size: 3vh;
      margin-top: 0%;
      margin-left: 8vh;
      margin-right: 8vh;
      margin-bottom: 0%;
      text-align: center;
    }
  }
}

.Div2 {
  grid-area: text2;
  align-self: flex-start;
  @include mobile {
    align-self: center;
  }
  h3 {
    text-transform: capitalize;
    font-size: 2vh;
    font-weight: 500;
    margin-top: 0.5vh;
    margin-left: 8vh;
    margin-right: 8vh;
    margin-bottom: 0.5vh;
    @include mobile {
      text-transform: capitalize;
      font-size: 2vh;
      font-weight: 500;
      margin-top: 0vh;
      margin-left: 8vh;
      margin-right: 8vh;
      margin-bottom: 1vh;
      text-align: center;
    }
  }
}

.ImagenMain {
  grid-area: media;
  align-self: center;
  @include mobile {
    justify-content: center;
    align-items: center;
  }
  img {
    width: 60vh;

    margin-right: 5vh;
    @include mobile {
      width: 45vh;
      height: 30vh;
      margin-left: 10vh;
      margin-right: 15vh;
      margin-bottom: 0vh;
      margin-top: 8vh;
    }
  }
}

.Boton {
  grid-area: boton;
  text-align: center;
  align-self: center;
  @include mobile {
    align-self: flex-start;
  }
  a {
    font-family: $font;
    background-color: $color;
  }
  button {
    font-weight: 700;
    font-size: 2vh;
    padding: 1vh;
    border-radius: 1vh;
    background-color: $color;
    color: white;
    @include mobile {
      padding: 1vh;
      font-size: 2vh;
      background-color: #002856;
      color: white;
    }
  }
}

footer {
  grid-area: footer;
  display: flex;
  margin-left: 0.5vh;
  div {
    font-size: 4vh;
    color: white;
    margin-left: 0.5vh;

    @include mobile {
      font-size: 80%;
    }
    a {
      color: white;
      text-decoration: none;
      font-size: 2vh;
    }
  }
}

.copy {
  color: white;
  font-size: 2vh;
  margin-left: 0%;
  @include mobile {
    margin-left: 0%;
    font-size: 2vh;
    color: white;
  }
}
