@mixin mobile {
  @media (min-width: 300px) and (max-width: 1200px) {
    @content;
    .GridConteinerMain {
      display: grid;
      background-image: url("../Image/wave-haikei.svg");
      background-repeat: no-repeat;
      background-size: cover;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 0.1fr 0.6fr 0.6fr 0.6fr 0.6fr 0.9fr;
      grid-template-areas:
        "nav nav nav"
        "media media media"
        "text text text"
        "text2 text2 text2"
        "boton boton boton"
        "footer footer footer";
    }
    .GridConteinerServicios {
      display: grid;
      background-image: url("../Image/wave-haikei.svg");
      min-height: 100vh;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 0.1fr 0.2fr 0.1fr 0.2fr 0.2fr 0.1fr 0.2fr 0.6fr;
      grid-template-areas:
        "nav nav nav"
        "media media media"
        "text text text"
        "text2 text2 text2"
        "media2 media2 media2"
        "text3 text3 text3"
        "text4 text4 text4"
        "footer footer footer";
    }
    .GridConteinerNosotros {
      display: grid;
      background-image: url("../Image/wave-haikei.svg");
      min-height: 100vh;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 0.1fr 0.2fr 0.1fr 0.2fr 0.2fr 0.1fr 0.2fr 0.6fr;
      grid-template-areas:
        "nav nav nav"
        "media media media"
        "text text text"
        "text2 text2 text2"
        "media2 media2 media2"
        "text3 text3 text3"
        "text4 text4 text4"
        "footer footer footer";
    }
    .GridConteinerBlog {
      display: grid;
      background-image: url("../Image/wave-haikei.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      min-height: 100vh;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 0.1fr 0.2fr 0.2fr 0.3fr 0.2fr 0.6fr;
      grid-template-areas:
        "nav nav nav"
        "card card card"
        "card card card"
        "card card card"
        "card card card"
        "footer footer footer";
    }
    .GridConteinerContacto {
      display: grid;
      background-image: url("../Image/wave-haikei.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      min-height: 100vh;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 0.1fr 0.5fr 0.5fr 0.4fr;
      grid-template-areas:
        "nav nav nav"
        "form form form"
        "form form form"
        "footer footer footer";
    }
  }
}

@mixin desktop {
  @media (min-width: 1200px) {
    @content;
  }
}
