@import "mediaqueries";
body {
  font-family: $font;
  color: $color;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  @include mobile;
}
@if $vista == mobile {
  @media (min-width: 400px) and (max-width: 700px) {
  }
} @else if $vista == desktop {
  @media (min-width: 700px) {
    .GridConteinerNosotros {
      display: grid;
      background-image: url("../Image/Fondo.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      min-height: 100vh;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 0.1fr 0.3fr 0.3fr 0.4fr 0.3fr 0.1fr;
      grid-template-areas:
        "nav nav nav"
        "media text text"
        "media text2 text2"
        "text3 text3 media2"
        "text4 text4 media2"
        "footer footer footer";
    }
  }
}

.TituloMision {
  grid-area: text;
  align-self: flex-end;
  margin-right: 1vh;
  h2 {
    margin-right: 10vh;
    margin-left: 0vh;
    @include mobile {
      margin-left: 8vh;
      margin-right: 8vh;
      font-size: 2vh;
      text-align: center;
    }
  }
}

.DescripcionMision {
  grid-area: text2;

  h3 {
    text-transform: capitalize;
    font-size: 2vh;
    font-weight: 500;
    margin-right: 20%;
    margin-left: 0vh;
    margin-bottom: 1%;
    @include mobile {
      font-size: 1.5vh;
      font-weight: 500;
      margin-left: 8vh;
      margin-right: 8vh;
      margin-bottom: 1vh;
    }
  }
}

.ImagenMision {
  grid-area: media;
  margin-top: 8vh;
  margin-left: 8vh;
  img {
    width: 40vh;
    @include mobile {
      margin-left: 15vh;
      margin-bottom: 0vh;
    }
  }
}

.TituloVision {
  grid-area: text3;
  align-self: flex-end;
  @include mobile {
    align-self: center;
    text-align: center;
  }
  h2 {
    margin-top: 1vh;
    margin-left: 40vh;
    margin-bottom: 1vh;
    @include mobile {
      margin-left: 8vh;
      margin-right: 8vh;
      font-size: 2vh;
      text-align: center;
    }
  }
}

.DescripcionVision {
  grid-area: text4;
  align-self: flex-start;
  h3 {
    text-transform: capitalize;
    font-size: 2vh;
    font-weight: 500;
    margin-right: 0vh;
    margin-left: 40vh;
    margin-bottom: 1%;
    @include mobile {
      font-size: 1.5vh;
      font-weight: 500;
      margin-left: 8vh;
      margin-right: 8vh;
      margin-bottom: 1vh;
    }
  }
}
.ImagenVision {
  grid-area: media2;
  margin-top: 10vh;
  @include mobile {
    margin-top: 2vh;
  }
  img {
    width: 50vh;
    @include mobile {
      align-items: center;
      justify-content: center;
      width: 50%;
      margin-left: 25%;
    }
  }
}
